form {
  margin: 0 auto;
  max-width: 500px;
}

input,
button,
textarea {
  width: 100%;
  display: block;
  font-size: 1em;
  padding: 10px 15px;
  margin-bottom: 10px;
  @include border-box();
  border: 1px solid $dark-blue;
}

input:focus,
textarea:focus {
  outline: 1px solid $brown;
}

input.error,
textarea.error {
  outline: 1px solid $red;
}

textarea {
  height: 200px;
}

button {
  color: $white;
  border:none;
  padding: 20px;
  cursor: pointer;
  font-size: 1.3em;
  background: $green;
  @include transition(background .5s ease-in-out);

  .fa {
    font-size: .9em;
  }
}

button:hover,
button:focus,
button:active {
  outline: none;
  background: $light-green;
}

.form-error,
.form-success {
  display: none;

  i {
    font-size: 60px;
  }

  p {
    font-size: 13px;

  }
}

.form-success {
  i {
    color: $green;
  }
}

.form-error {
  i {
    color: $red;
  }
}
