@mixin border-box() {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

@mixin transition($args...) {
  -webkit-transition: $args;
     -moz-transition: $args;
      -ms-transition: $args;
       -o-transition: $args;
          transition: $args;
}

body {
  margin: 0;
  font-size: 1em;
  font-weight: 300;
  color: $dark-blue;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-size: 3em;
  font-weight: 300;
}

h2 {
  font-size: 2em;
  font-weight: 300;
}

img {
  max-width: 100%;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;

  li {
    a {
      color: $brown;
      text-decoration: none;
      @include transition(color .3s ease-in-out);
    }

    a:hover,
    a:focus,
    a:active {
      color: $light-brown;
    }
  }
}

ul.float {
  overflow: hidden;

  li {
    float: left;

    a {
      padding: 0 30px;
    }
  }
}

header {
  height: 100vh;
  overflow: hidden;

  background: url('../images/parallax.png') no-repeat center center fixed;

  background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;

  a {
    color: $brown;
    display: block;
    margin-top: -10px;
    @include transition(color .3s ease-in-out);

    i {
      text-shadow: 0px 0px 5px rgba(255, 255, 255, 1);
    }
  }

  a:hover,
  a:focus,
  a:active {
    color: $light-brown;
  }
}

.container {
  padding: 20px;
  margin: 0 auto;
  max-width: 900px;
}

.m-b-20 {
  margin-bottom: 20px;
}

.fa {
  font-size: 3em;
}
