// Grays
$dark-grey:  #888;
$grey:       #DDD;
$light-grey: #CCC;
$white:      #FFF;

// Blues
$dark-blue: #445;

// Brows
$brown: #432;
$light-brown: lighten($brown, 15%);
$extra-light-brown: lighten($brown, 70%);
