// Grays
$dark-grey:  #888;
$grey:       #DDD;
$light-grey: #CCC;
$white:      #FFF;
$extra-light-grey: #f8f8f8 ;


// Blues
$dark-blue: #445;

// Red
$red: #e74c3c;

// Green
$green: #98c593;
$light-green: #b1ddab;

// Brows
$brown: #432;
$light-brown: lighten($brown, 15%);
$extra-light-brown: lighten($brown, 70%);

$transparent: rgba(0, 0, 0, 0);
$transparent-brown: rgba(68, 51, 34, .9);


