// Grays
$dark-grey:  #888;
$grey:       #DDD;
$light-grey: #CCC;
$white:      #FFF;

// Blues
$dark-blue: #445;

// Red
$red: #F00;

// Green
$green: #2ecc71;

// Brows
$brown: #432;
$light-brown: lighten($brown, 15%);
$extra-light-brown: lighten($brown, 70%);

$transparent: rgba(0, 0, 0, 0);
$transparent-brown: rgba(68, 51, 34, .9);


